body{
    background: rgb(68, 0, 255);
    color:white;
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    justify-content:center;
    align-items: center;
    height: 700px;
    margin: 0;
}
button{
    background: yellow;
    color:black;
    font-family: Georgia, 'Times New Roman', Times, serif;
}